body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  height: 110%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0px auto;
  height: 100%;
}

.navbar-brand {
  text-align: center;
  margin: 0px auto;
  width: 100%;
  display: block;
  height: 1em;
}

a { 
  text-decoration: none;
  margin: 5px auto 5px auto;
  
}

.card-img {
  width: 100%;
  height: 100%;
  box-shadow: rgb(205, 205, 162) 0px 1px 5px 1px;
}
.card-body {
  box-shadow: rgb(205, 205, 162) 0px 5px 10px 5px, rgb(255, 255, 255) 0px 8px 16px -8px;
  border-radius: 5%;
}


#mouse_over {
  opacity: 0;
}

#mouse_over:hover {
  opacity: 1;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px auto;
  font-size: x-large;
}
.active {
  text-decoration: line-through;
}
.overflow {
  overflow-y: scroll;
  height: 100%;
 }
 html {
   height: 100%;
 }

 .aboutText {
  overflow-wrap: break-word;
  overflow: hidden;
  display: flex;
  margin-block-start: inherit; 
  margin-block-end: inherit; 
  margin-inline-start: inherit;
  margin-inline-end: inherit;
 }

 button.bg-dark {
  box-shadow: rgb(205, 205, 162) 0px 1px 5px 1px;
  border-radius: 5%;
  margin: 5px auto 5px auto;
 }

.aboutMe {
   margin: 0px auto;
   background-color: #181818;
   color: white;
   margin-bottom: 2em;
   margin-top: 2em;
   border-radius: 5%;
 }
 .projCard {
   display: flex;
   justify-content: center;
   margin: 1em 0em;
   padding: 0;
 }
 .profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 15px auto 15px auto;
  box-shadow: rgb(255, 255, 255) 0px 1px 5px 1px;
 }

.navi {
  box-shadow: rgb(205, 205, 162) 0px 1px 5px 1px;
  text-decoration:underline;
  
}

div.card-title.h5 {
  font-size:x-large;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: rgb(205, 205, 162) 0px 0px 5px 1px;
  margin-bottom: 0px;
}

div.bottom.container {
  margin: 2em auto 2em auto;
}

div.row {
  margin: 0 auto;
}

form#contact-form {
  width: 365px;
  box-shadow: rgb(205, 205, 162) 0px 5px 10px 5px, rgb(255, 255, 255) 0px 8px 16px -8px;
  border-radius: 5%;
  margin: 5px auto 5px auto;
}

